.header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(gh.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 30px;
    text-align: center;
    color: #fff;
}
.logo{
    width: 200px;
    color: white;
    float: left;
}
.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border-radius: 50px;
    background: transparent;
    color: #faf7f7;
    float: right;
}
.login-btn a{
    color: white;
}
html {
    scroll-behavior: smooth;
}
.place{
    padding-top: 150px;
    padding-left: 350px;
    padding-right: 350px;
    font-size: 30px;
}

.row2-call1{
    width: 150px;
    height: 40px;
    float: left;
    font-size: 20px;
}
.row2-call1 a{
    color: white;
    text-decoration: none;
}

.features{
    padding-top: 100px;
    padding: 20px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}
.rating .fa{
    font-size: 15px;
    color: #0e0401;
}
.feature-details{
    padding: 20px;
    text-align: justify;
}
.feature-details h4{
    font-weight: 600%;
}
.feature-details .fa{
    margin-right:5px;
} 
.feature-box{
    box-shadow: 0 0 10px 1px rgba(3, 3, 212, 0.911);
    margin-bottom: 30px;
    padding-top: 20px;
}
.hotel{
    font-size: 25px;
    padding-top: 125px;
    padding-left: 350px;
    padding-right: 350px;
}